<div class="formArea">
		<div class="fa-tit">用户登录</div>
		<div class="fa-con">
		    <div class="inp-group">
			    <label for="">账号：</label>
			    <div class="inp">
			    	<input type="text" placeholder="请输入您的账号" class="uName">
			    </div>
			</div>
			
		    <div class="inp-group">
			    <label for="">密码：</label>
			    <div class="inp">
			    	<input type="password" placeholder="请输入您的密码" class="uPwd" >
			    </div>
			</div>	
			<div class="inp-group bts">
			    <button class="btn green fr reg">立即注册</button>
			</div>		
		</div>
	</div>
<script>
$(function(){

$("footer").hide();		
})	

</script>
<script>
function el(name){
	return document.querySelector(name);
}	
var fa = el('.formArea');
	
fa.style.marginTop = - fa.clientHeight/2 + "px";	
window.onresize = function(){
	fa.style.marginTop = - fa.clientHeight/2 + "px";	
}	
</script>
<script src='./js/jquery-1.9.1.min.js'></script>
<script>
    $('.reg').click(function(){
		var v =/^[A-Za-z0-9]{4,16}$/;
       var regdata = {
            'uName': $(".uName").val(),
            'uPwd': $('.uPwd').val()
        }
		if(v.test(regdata.uName)){
			$.post('/reg', regdata, function(data){
           console.log(data); // 没有任何数据传递
           if(data == 'ok'){
               alert('注册成功！');
               window.location.href = '/login'
           } else if(data == 'err') {
               alert('注册失败！');
           }else{
               alert('请输入账号或密码！')
           }
        })
		}else{
			alert('请输入4-16位的账号！')
		}
       
    })
</script>